<h2>ShoppingCard List: </h2>
<table>
{% for item in ShoppingCardList %}
    <tr>
        <td>
            {{item}}
        </td>
        <td><a class='detail' href='{%url ShoppingCardController %}?op=edit&key={{item.key}}'>Edit</a></td>
        <td><a class='detail' href='{%url ShoppingCardController %}?op=details&key={{item.key}}'>Detail</a></td>
        <td> <a class='delete' href='{%url ShoppingCardController %}?op=delete&key={{item.key}}'>Delete</a></td>
    </tr>
{% endfor %}
{%ifequal previousIndex -1 %}{%else%}<a href="{%url ShoppingCardController %}?op=index&index={{previousIndex}}">Previous</a>{%endifequal%}
 | {%ifequal nextIndex 0 %}{%else%}<a href="{%url ShoppingCardController %}?op=index&index={{nextIndex}}">Next</a>{%endifequal%}
 
</table>
<h3><a href='{%url ShoppingCardController %}?op=edit'>New</a><h3>
