<h2>Shop List: </h2>
<table>
{% for Shop in ShopList %}
	<tr>
		{%include Shop_details %}	
		<td class="ui-widget-header">
			<a class='detail' href='{%url ShopController %}?op=edit&key={{Shop.key}}'>Edit</a>
		    <a class='delete' href='{%url ShopController %}?op=delete&key={{Shop.key}}'>Delete</a>
		    <a class='detail' href='{%url ShopController %}'>Index</a>	
		</td>
	</tr>
{% endfor %}
</table>
{%ifequal previousIndex -1 %}{%else%}<a href="{%url ShopController %}?op=index&index={{previousIndex}}">Previous</a>{%endifequal%}
 | {%ifequal nextIndex 0 %}{%else%}<a href="{%url ShopController %}?op=index&index={{nextIndex}}">Next</a>{%endifequal%}
 

<h3><a href='{%url ShopController %}?op=edit'>New</a><h3>
