<h2>UserProfile: </h2>
<form id='UserProfileForm' method='post' action='{% url UserProfileController %}'>
    <input type='hidden' name='op' value={{op}}>
    <input type='hidden' name='key' value={{UserProfileForm.instance.key}}></input>
<table>
{% for field in UserProfileForm %}
    <tr>
        <td style="text-align:right;">
            {{ field.label_tag }}:
        </td>
        <td>
            {{ field }}
        </td>
        <td style='color: red;'>
            {{ field.errors }}
        </td>
    <tr>
{% endfor %}
</table>
<input type='submit' value={%if UserProfileForm.instance.key%} 'Update' {% else %} 'Create' {%endif%}></input>
</form>
<a href='{%url UserProfileController%}'>Back</a>