{% extends base %}
{% block content %}
	<div class="ui-widget ui-corner-all" style="border:1px solid black; width:100%; margin: 5px; min-height: 350px">
	   <div class="ui-widget-content" style="padding-left: 15px;">
		<h2>Contact Info</h2>
		</div>
		<div class="ui-corner-all" style="padding: 10px; margin: 10px;border:1px solid blue">
		  <p>Почитувани,</p>
		  <p>Ова е тест верзија.</p>
		  <p>Секоја Ваша идеја е добредојдена и ќе биде разгледана. </p>
		  <p><a href='email:vlachyouthcouncil@gmail.com'>Совет на Млади Власи од Македонија</a></p> 
		</div>
		<div style="padding:5px">
		    <p>VlachYouthCouncil <a href='email:vlachyouthcouncil@gmail.com'>vlachyouthcouncil@gmail.com</a></p>
			<p>Kosta Halicea Mihajlov <a href="email:costa@halicea.com">costa@halicea.com</a></p>
			
		</div>
	</div>
{% endblock %}