{%block styles %}
{{block.super}}
<link href="/styles/superfish.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block scripts %}
{{block.super}}
<script type="text/javascript" src="/jscripts/hoverIntent.js" ></script>
<script type="text/javascript" src="/jscripts/superfish.js" ></script>
<script language="text/javascript">
$(document).ready(function() {
    $('ul.sf-menu').superfish();
});
{% endblock %}
</script>
{% comment %}
<!-- <link href="/styles/jqueryslidemenu/jqueryslidemenu.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="/jscripts/jqueryslidemenu.js" ></script>
 -->
{% endcomment %}
<div id="menu" style="padding-left: 15px; margin-top: -5px;position: relative;" >
    <ul class="sf-menu">
    	{%for m in menuLinks%}
    		{%if not m.AdminOnly%}
        	<li><a href="{{m.Link}}">{{m.Title}}</a></li>
        	{%else%}
    		{%if current_user.IsAdmin%}
    		<li><a href="{{m.Link}}">{{m.Title}}</a></li>
    		{%endif%}
        	{%endif%}
        {%endfor%}
    </ul>
</div>