{%block styles %}
{{block.super}}
<link href="/styles/superfish.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block scripts %}
{{block.super}}
<script type="text/javascript" src="/jscripts/hoverIntent.js" ></script>
<script type="text/javascript" src="/jscripts/superfish.js" ></script>
<script language="text/javascript">
$(document).ready(function() {
    $('ul.sf-menu').superfish();
});
{% endblock %}
</script>
{% comment %}
<!-- <link href="/styles/jqueryslidemenu/jqueryslidemenu.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="/jscripts/jqueryslidemenu.js" ></script>
 -->
{% endcomment %}
<div id="menu" style="padding-left: 15px; margin-top: -5px;position: relative;" >
    <ul class="sf-menu">
        <li><a href='{% url SearchController %}'>Dictsionar</a>
        {% if current_user %}
            {% if current_user.IsAdmin %}
                <ul>
                    <li><a href='{% url WordController %}?op=shw'>New Word</a></li>
                    <li><a href='{% url WordController %}?op=lst'>List Words</a></li>
                	<li><a href='{% url DictionaryController %}?op=lst'>Dictionaries</a></li>
                	<li><a href='{% url LanguageController %}?op=lst'>Languages</a></li>
                </ul>
            {% endif %}
        {% endif %}
        </li>
        <li><a href="{% url AboutController %}">About</a></li>
        <li><a href="{% url ContactController %}">Contact</a></li>
        {%comment%}
        <!-- <li><a href="{% url BerbaController%}?op=shw">Berba</a>
               <ul>
                 <li><a href="{% url BerbaController%}?op=lst">Lista Berbi</a>
               </ul>
           </li>
           <li><a href="{% url ZashtitaController%}?op=lst">Zashtita</a>
           </li>
           <li><a href="{% url PreparatController%}?op=lst">Preparati</a>
           </li>
           <li><a href='{%url BojaController%}'>Tipovi Ruzi</a></li>
           <li><a href='{%url KupecController%}'>Kupci</a></li>
           <li><a href='{%url ProdazbaController%}'>Prodazba</a></li> -->
        {%endcomment%}
    </ul>
</div>