
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html> 
<head> 
<style type="text/css"> 
 
#top_content{ widht:100%; }
#logo_container{ 
	height: 100px; 
	background-color: black;
}
.right_panel_container{
    padding-top:10px;
    float: right;
    width: 180px; 
    min-height:600px; 
    padding-left: 10px;
    background: green;
}
.right_panel_container{
    background: rgba(0, 0, 0, 0.3);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#99000000)";
}
 
</style> 
<!--[if IE]>
<style type="text/css">
.transparentBox{
    background: rgblib/a(0, 0, 0, 0.3);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000, endColorstr=#00000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000, endColorstr=#50000000)";
    background:transparent;
}</style>
<![endif]--> 
<title> 
	  
</title> 
 
 
 
 
<link href="/styles/ui-blackgreen/jquery-ui-1.7.2.custom.css" rel="stylesheet" type="text/css" media="screen" /> 
<link href="/styles/mbContainer/css/mbContainer.css" rel="stylesheet" type="text/css" media="screen" /> 
<link href="/styles/pageStyles.css" rel="stylesheet" type="text/css" media="screen" /> 
 
 
 
 
 
 
<script type="text/javascript" src="/jscripts/jquery-1.4.min.js"></script> 
<script type="text/javascript" src="/jscripts/jquery-ui-1.7.2.custom.min.js"></script> 
<script type="text/javascript" src="/jscripts/jquery.layout.js"></script> 
<script type="text/javascript" src="/jscripts/jquery.form.js"></script> 
<script type="text/javascript"> 
$(function(){
	$('.date').datepicker()
	$('.my-collapsible').click(function(){
		 var o = $(this);
		 o.next('div').toggle('fast');
	});
});
</script> 
 
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAA0T0q7ezv4WdeP9Gd_HQYhTwM0brOpm-All5BF6PoaKBxRWWERTMOX6G4CmBlaorOksRw5-B65J37g"></script> 
<script type="text/javascript" src="/static/lib/jquery.scrollTo-1.4.2-min.js"></script> 
<script type="text/javascript" src="/static/lib/microtemplate.js"></script> 
<script type="text/javascript" src="/static/js/front.js"></script> 
<script type="text/javascript"> 
  google.load('maps', '2');
  google.setOnLoadCallback(init);
</script> 
 
 
 
</head> 
 
<body onunload="GUnload()"> 
 
<div style="width: 100%;"> 
<div style="height: 1120px; width: 1000px; margin-left: auto; margin-right: auto;" class=""> 
	<div id="top_content" style="padding-bottom: 10px"> 
		<div id="logo_container" class="ui-corner-top"> 
			
 
 
		</div> 
		
		<div id="top_menu_container" style="height:37px;width: 998px; background-color: gray;" class="ui-widget-header ui-corner-bottom"> 
			<div style="float: left; width: auto;"> 
				
	
 
<link href="/styles/superfish.css" rel="stylesheet" type="text/css" media="screen" /> 
 
 
 
 
<script type="text/javascript" src="/jscripts/hoverIntent.js" ></script> 
<script type="text/javascript" src="/jscripts/superfish.js" ></script> 
<script language="text/javascript"> 
$(document).ready(function() {
    $('ul.sf-menu').superfish();
});
 
</script> 
 
<div id="menu" style="padding-left: 15px; margin-top: -5px;position: relative;" > 
    <ul class="sf-menu"> 
    	
    		
        	<li><a href="/">Home</a></li> 
        	
        
    		
        	<li><a href="/Metropolis/Shop">Shops</a></li> 
        	
        
    		
        	<li><a href="/Metropolis/Product/Search/">Search</a></li> 
        	
        
    		
        	<li><a href="/Metropolis/Company">Companies</a></li> 
        	
        
    		
        	<li><a href="/Metropolis/Product">Products</a></li> 
        	
        
    		
        	<li><a href="/Metropolis/Promotion">Promotions</a></li> 
        	
        
    		
        	<li><a href="/Metropolis/Grouper">Grouper</a></li> 
        	
        
    </ul> 
</div> 
 
 
			</div> 
			<div  id="login" style="text-align: right;float: right;" > 
				
	<div  id="login" style="text-align: right; heigth:40px;float: right;" > 
	<form method="get" action="#"> 
		
		<div style="text-align: right; font-size: small; color: blue; padding-right:20px; vertical-align:middle;"> 
		<a href="/Login" style="text-align: right; color: black;">Login </a> &nbsp;&nbsp;  <a href="/AddUser" style="text-align: right; color: black;">Register </a> 
		</div> 
		
	</form> 
</div> 
 
			</div> 
		</div> 
	</div> 
	<div id="middle_content" style="min-height: 603px;" class="ui-widget"> 
			
		<div id="main_container" style="float: left;width: 800px; padding: 0px; margin-right:10px; min-height: 603px;" class="ui-corner-all"> 
			
	
 
			
    <div id="container"> 
      <div id="header" class="clearfix"> 
        <div id="logo"> 
          <div id="slogan"> 
            A public school finder service and<br/> 
            <a href="http://code.google.com/p/geomodel/">GeoModel</a> 
            demo application
          </div> 
        </div> 
        
        <form action="" onsubmit="doGeocodeAndSearch(); return false;"> 
          <div id="search-container"> 
            <p><label for="search-query">Search for schools near:</label></p> 
            <input id="search-query" type="search" /> 
 
            <input type="submit" value="Search"/> 
            
            <img id="loading" src="/static/images/loading.gif" alt="Loading..."/> 
          </div> 
          
          <div id="advanced-options-container"> 
            <div id="search-error">&nbsp;</div> 
            <a id="advanced-options-toggle" href="#">Advanced Options</a> 
            
            <div id="advanced-options"> 
              <div class="row clearfix"> 
                <label for="search-grade-slider">Grade level:</label> 
                <div id="search-grade-slider"></div> 
                <div id="search-grade-display"></div> 
              </div> 
              <div class="row clearfix"> 
                <label for="search-school-type">School type:</label> 
                <select id="search-school-type"> 
                  <option value="">(Any)</option> 
                </select> 
              </div> 
            </div> 
          </div> 
        </form> 
      </div> 
      
      <div id="view-toggle"> 
        <a href="#">List view &raquo;</a> 
      </div> 
      
      <div id="content" class="clearfix"> 
        <div id="list-view-container"> 
          <p id="list-view-status"> 
            Enter a search location to
            search for nearby public schools.
          </p> 
          <ul id="list-view"> 
          </ul> 
        </div> 
        
        <div id="map-container"> 
          <div id="map"></div> 
        </div> 
      </div> 
      
      <div id="footer"> 
        <p> 
          DISCLAIMER: this is a demo application for the
          <a href="http://code.google.com/p/geomodel/">GeoModel</a> 
          open source project. There is no guarantee about the correctness
          of the data presented in this demo.
        </p> 
        <p> 
          Public school data provided by the
          <a href="http://www.ed.gov/">U.S. Department of Education</a>'s
          <a href="http://nces.ed.gov/">National Center for Education Statistics</a>.
        </p> 
        <p>Copyright &copy; 2009, Roman Nurik</p> 
      </div> 
    </div> 
    
    <script type="text/html" id="tpl_result_info_window"> 
      <div class="result-info-window">
        <h2><img src="<%= result.icon %>"/> <%= result.name %></h2>
      
        <div class="details">
          <% if (result.distance) { %>
            <p class="distance"><%= formatDistance(result.distance) %></p>
          <% } %>
          
          <address>
          <%= result.address %><br/>
          <%= result.city %>, <%= result.state %> <%= result.zip_code %><br/>
          <%= result.phone_number || '(Phone Number N/A)' %>
          </address>
        
          <ul>
            <li>
              <span class="label">Grades Taught:</span>
                <%= formatGradeLevel(result.lowest_grade_taught) || 'N/A' %>
                <% if (result.highest_grade_taught !== result.lowest_grade_taught) { %>
                  to
                  <%= formatGradeLevel(result.highest_grade_taught) || 'N/A' %>
                <% } %>
            </li>
            <li>
              <span class="label">School Type:</span>
              <%= result.school_type ?
                  ('<a target="_blank" href="http://nces.ed.gov/ccd/psadd.asp#type">' +
                   SCHOOL_TYPES[result.school_type] + '</a>') : 'N/A' %>
            </li>
            <li>
              <span class="label">Enrollment:</span>
              <%= result.enrollment || 'N/A' %>
            </li>
          </ul>
        </div>
      </div>
    </script> 
    
    <script type="text/html" id="tpl_result_list_item"> 
      <h2><img src="<%= result.icon %>"/> <%= result.name %></h2>
      
      <div class="details">
        <% if (result.distance) { %>
          <p class="distance"><%= formatDistance(result.distance) %></p>
        <% } %>
 
        <address>
        <%= result.address %><br/>
        <%= result.city %>, <%= result.state %> <%= result.zip_code %><br/>
        <%= result.phone_number || '(Phone Number N/A)' %>
        </address>
        
        <ul>
          <li>
            <span class="label">Grades Taught:</span>
              <%= formatGradeLevel(result.lowest_grade_taught) || 'N/A' %>
              <% if (result.highest_grade_taught !== result.lowest_grade_taught) { %>
                to
                <%= formatGradeLevel(result.highest_grade_taught) || 'N/A' %>
              <% } %>
          </li>
          <li>
            <span class="label">School Type:</span>
            <%= result.school_type ?
                ('<a target="_blank" href="http://nces.ed.gov/ccd/psadd.asp#type">' +
                 SCHOOL_TYPES[result.school_type] + '</a>') : 'N/A' %>
          </li>
          <li>
            <span class="label">Enrollment:</span>
            <%= result.enrollment || 'N/A' %>
          </li>
        </ul>
      </div>
    </script> 
 
		</div> 
		
		<div id="right_panel_container" class='right_panel_container transparentBox  ui-corner-top'> 
			
	<iframe src="http://www.facebook.com/plugins/like.php?href=localhost:8080&amp;layout=standard&amp;show_faces=false&amp;width=180&amp;action=like&amp;font=lucida+grande&amp;colorscheme=light&amp;height=150" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:180px; height:80px;" allowTransparency="true"></iframe> 
 
		</div> 
	</div> 
	<div style="clear: both;"></div> 
	<div id="bottom_container" style="text-align: center; width:100%;font-size: 13px"> 
		
	<table><tr> 
	    <td><img src="http://code.google.com/appengine/images/appengine-silver-120x30.gif" alt="Powered by Google App Engine" height="25px" /> </td> 
	    <td> 
	    halicea.com&#169; 2011.</td> 
	</tr></table> 
		
	</div> 
</div> 
</div> 
</body> 
</html>